.concrete-icon {
	width: var(--concrete-size-icon-medium);
	height: var(--concrete-size-icon-medium);
	flex: none;
	fill: none;
	stroke: currentcolor;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-width: var(--concrete-stroke-1-75);
}
